<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nanny Booking</title>
</head>
<body>
<h1>Booked Nanny List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Message</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="bookings : ${bookings}">
    <td th:text="${bookings.id}"></td>
    <td th:text="${bookings.name}"></td>
    <td th:text="${bookings.message}"></td>
    <td th:text="${bookings.start_Time}"></td>
    <td th:text="${bookings.end_Time}"></td>
  </tr>
  </tbody>
</table>
<a href="/bookings/add">Add Nanny</a>
</body>
</html>
